/** Lib Tech Custom Snowboard Builder v1.0 http://lib-tech.com Author: Simon Silverio <simon.silverio@gmail.com> & Brian Behrens <brian.behrens@mervin.com> */
@font-face { font-family: 'Altehaas Grotesk Bold'; src: url("../fonts/Altehaas-Grotesk-Bold/Altehaas-Grotesk-Bold.eot"); src: url("../fonts/Altehaas-Grotesk-Bold/Altehaas-Grotesk-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Altehaas-Grotesk-Bold/Altehaas-Grotesk-Bold.woff") format("woff"), url("../fonts/Altehaas-Grotesk-Bold/Altehaas-Grotesk-Bold.ttf") format("truetype"), url("../fonts/Altehaas-Grotesk-Bold/Altehaas-Grotesk-Bold.svg#Altehaas-Grotesk-Bold") format("svg"); font-weight: normal; font-style: normal; }

/* DOM Styles */
body { -moz-background-size: cover; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; /*overflow-x:hidden;
overflow-y:hidden;*/ background-color: #000; height: 100%; width: 100%; background-attachment: fixed; }

input { margin: 0; padding: 10px; border: none; -webkit-font-smoothing: antialiased; -webkit-appearance: none; border-radius: 0; text-transform: uppercase; }

/* DO I NEED THIS CODE? I THINK IT'S MOBILE */
.bxDivShape { position: relative; margin-left: -4%; width: 100%; top: 0% !important; padding-top: 1%; }
.bxDivShape li { float: left; max-width: 100%; transition-duration: .15s; -webkit-transition-duration: .15s; }
.bxDivShape img { cursor: pointer; }

/* END - DO I NEED THIS CODE? */
.bx-wrapper .bx-pager { padding-top: 5px; }

.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item { width: 4%; margin-right: 4%; margin-left: 3%; }

.bx-wrapper .bx-pager.bx-default-pager a { background: #000; }

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a.active { background: black; }

.bx-wrapper .bx-pager.bx-default-pager a { background: #000; text-indent: -9999px; display: block; width: 15px; height: 15px; margin: 0 15px; outline: 0; -moz-border-radius: 5px; -webkit-border-radius: 10px; border-radius: 10px; }

.bx-wrapper { background-color: transparent !important; background: transparent !important; position: relative; margin: 0 auto; padding: 0; *zoom: 1; }
.bx-wrapper .bx-viewport { overflow: visible !important; background: transparent; display: block; }

.bx-loading { display: none !important; }

.bx-wrapper .bx-pager { text-align: center; top: 0px; position: absolute; padding-top: 0px; }

.bx-clone { display: none !important; }

.bx-pager { display: none; }

/*BX FIX?*/
.pagerTop { position: absolute; z-index: 9997; width: 100%; }

.bx-pager .bx-pager-item, .bx-controls-auto .bx-controls-auto-item { display: inline-block; /*margin-top: 4px*/ }

.bx-pager-item { cursor: pointer; }

/*HIDE THE 6th SLIDE (CUSTOM KNIFECUT TEXT)*/
.pagerTop .bx-pager div:nth-child(6) { display: none; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev { background: url(../img/bx-controls.png) no-repeat 0px -32px; -moz-transition: none; -webkit-transition: none; -o-transition: color 0 ease-in; transition: none; }

.bx-wrapper .bx-next { right: 10px; background: url(../img/bx-controls.png) no-repeat -43px -32px; -moz-transition: none; -webkit-transition: none; -o-transition: color 0 ease-in; transition: none; }

.bx-pager.bx-default-pager a { background: #000; text-indent: -9999px; display: block; width: 10px; height: 10px; margin: 0 15px; outline: 0; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; }

.bx-wrapper .bx-prev:hover { background-position: 0 0; }

.bx-wrapper .bx-next:hover { background-position: -43px 0; }

.bx-pager.bx-default-pager a:hover, .bx-pager.bx-default-pager a:focus, .bx-pager.bx-default-pager a.active { background: #fff; text-indent: -9999px; display: block; width: 10px; height: 10px; margin: 0 15px; outline: 0; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; }

.bx-pager.bx-default-pager a:hover, .bx-pager.bx-default-pager a:focus, .bx-pager.bx-default-pager a.active { background: #fff; text-indent: -9999px; display: block; width: 10px; height: 10px; margin: 0 15px; outline: 0; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; }

.bx-pager { background: url(../img/bb/bb-0-leftmenubg.gif); height: 27px; box-shadow: 1px 1px 10px #666666; text-align: center; }

.bx-controls-direction, .bx-pager { display: block; }

@media screen and (max-width: 767px) { .bx-prev, .bx-next { display: none; } }
@media screen and (min-width: 768px) { .bx-prev, .bx-next { display: block; } }

.wrapper #region-selector .width-fix div { background: inherit !important; }

ul.bxDivSlider li { background-size: 100% 100%; }
ul.bxDivSlider > li { opacity: 0; }

.boardShape { position: relative; }

.bxDivSlider { -webkit-backface-visibility: hidden; }

ul.bxslider { margin: 0; padding: 0; }

#mySwipe { top: 0px !important; }

#bxsliderTop li { width: 100%; }

.bxDivShape li { opacity: 0; }

#divBlocker { position: fixed; height: 100%; width: 100%; top: 0; left: 0; opacity: 1; z-index: 999999; background: black url("../img/loader.gif") no-repeat center center; }

#divPreloader { display: none; }

#blackBoxInfo h1 { font-family: "PT Sans Narrow", "Myriad Pro", Helvetica, Arial, sans-serif; }

#blackBoxInfo h2 { font-family: "PT Sans Narrow", "Myriad Pro", Helvetica, Arial, sans-serif; }

#blackBoxInfo h3 { font-family: "PT Sans Narrow", "Myriad Pro", Helvetica, Arial, sans-serif; }

#blackBoxInfo h4 { font-family: "PT Sans Narrow", "Myriad Pro", Helvetica, Arial, sans-serif; }

#blackBoxInfo h5 { font-family: "PT Sans Narrow", "Myriad Pro", Helvetica, Arial, sans-serif; }

#blackBoxInfo h6 { font-family: "PT Sans Narrow", "Myriad Pro", Helvetica, Arial, sans-serif; }

.boardText1 h1 { /*//font: 32px/42px trajan-pro-1,trajan-pro-2;*/ font-size: 20px; color: white; }

.boardText1 h2 { /*//font: 32px/42px trajan-pro-1,trajan-pro-2;*/ font-size: 20px; color: white; }

.boardText1 h3 { /*//font: 32px/42px trajan-pro-1,trajan-pro-2;*/ font-size: 20px; color: white; }

.boardText1 h4 { /*//font: 32px/42px trajan-pro-1,trajan-pro-2;*/ font-size: 20px; color: white; }

.boardText1 h5 { /*//font: 32px/42px trajan-pro-1,trajan-pro-2;*/ font-size: 20px; color: white; }

.boardText1 h6 { /*//font: 32px/42px trajan-pro-1,trajan-pro-2;*/ font-size: 20px; color: white; }

#menu1TitleX { height: 42px; display: white; }

#menu2TitleX { height: 42px; display: white; }

#menu3TitleX { height: 42px; display: white; }

#menu4TitleX { height: 42px; display: white; }

#menu5TitleX { height: 42px; display: white; }

#menu6TitleX { height: 42px; display: white; }

#boardTech2 h2 { font-size: 18px; font-weight: 700; }
#boardTech2 h3 { font-size: 18px; }

#s2shapeTitle p { font-color: black; font-weight: 700; }
#s2shapeTitle span { font-weight: 400; }

#sizeItemYellow { background-color: yellow; }

#sizeItemWhite { background-color: yellow; }

.sizeYellow { color: yellow; font-weight: 700; }

.sizeWhite { color: white; font-weight: 400; }

.highlight { background-color: yellow; -moz-transition: none; -webkit-transition: none; -o-transition: color 0 ease-in; transition: none; }

.nohighlight { -moz-transition: none; -webkit-transition: none; -o-transition: color 0 ease-in; transition: none; }

/* GLOBAL ELEMENTS */
#header { background: url("../img/bb/header-bar-bg.png") repeat-x; position: absolute; height: 63px; z-index: 8886; width: 100%; font-weight: bold; }
#header #topTwo { position: absolute; float: left; width: 20%; display: none; z-index: 2; }
#header #topTwo > p { float: left; padding: 5%; margin: 5%; border: 1px solid white; cursor: pointer; text-align: center; width: 35px; background-color: white; color: black; }
#header #topLogo { display: block !important; float: left; width: 100%; padding: 0 0 2px 14px; position: absolute; z-index: 999777; left: 0px; height: 40px; }
#header #topFlag { float: left; position: absolute; z-index: 10; left: 233px; }
#header #topSection { font-size: 28px; top: 3px; right: 20px; position: absolute; color: #fff; opacity: 0; width: 100%; text-align: right; z-index: 5; }
#header #topSectionRight { float: left; text-align: center; display: none; z-index: 2; }

#advance-arrow { cursor: pointer; display: block; position: fixed; height: 100%; width: 40px; right: -40px; top: 0px; text-align: center; z-index: 6868; background: yellow url("../img/bb/advance-arrow.gif") no-repeat center center; }

#blackBoxInfo { min-width: 250px; max-width: 300px; position: absolute; float: left; background-color: #000; margin-top: -10px; padding: 15px; display: none; margin-bottom: 12% !important; z-index: 99987 !important; }
#blackBoxInfo .blackBoxDiamondL { left: -20px; position: absolute; background: url(../img/bb/bb-0-diamond.png); height: 45px !important; width: 45px !important; top: 10px; }
#blackBoxInfo .blackBoxDiamondR { right: -20px; position: absolute; background: url(../img/bb/bb-0-diamond.png); height: 45px !important; width: 45px !important; top: 10px; }
#blackBoxInfo h2 { font-size: 25px; font-weight: 700; z-index: 10; position: relative; }
#blackBoxInfo h3 { text-align: center; font-size: 16px; z-index: 11; position: relative; margin: 2% 0 2% 0; }
#blackBoxInfo .contourImg { max-width: 100%; }
#blackBoxInfo p { color: white; text-align: center; font-size: 14px; font-weight: normal; margin: 4% 0 2% 0; }
#blackBoxInfo p span { font-weight: 700; }
#blackBoxInfo h4 { font-size: 14px; font-weight: normal; margin: 4% 0 2% 0; }
#blackBoxInfo h5 { font-weight: 400; font-size: 16px; font-family: "PT Sans Narrow", "Myriad Pro", Helvetica, Arial, sans-serif; color: white; text-transform: none; margin: 4% 0 2% 0; }
#blackBoxInfo span { font-size: 18px; font-weight: 700; margin: 4% 0 2% 4%; }

#leftmenu { width: 276px; background: yellow; position: absolute; left: -195px; color: #000; padding: 16px 0 16px 0px; margin: 0px; text-transform: uppercase; box-shadow: 1px 1px 8px #666666; top: 25%; background: url(../img/bb/bb-0-leftmenubg.gif); display: none; z-index: 5555; }
#leftmenu #menuClose { position: absolute !important; right: 11px; top: 10px; float: right !important; z-index: 1561; display: none; }
#leftmenu #menuHeader { width: 100%; text-align: center; }
#leftmenu ul { padding-left: 0%; }
#leftmenu ul li { cursor: pointer; border-bottom: 1px solid #000; padding: 10px 0 10px 0; height: 42px; }
#leftmenu ul li:first-child { border-top: 1px solid #000; }
#leftmenu div { float: left; position: relative; }
#leftmenu h1 { color: black; font-size: 30px; text-transform: uppercase; margin-left: -65px; font-family: "PT Sans Narrow", "Myriad Pro", Helvetica, Arial, sans-serif; font-weight: 700; }
#leftmenu .menu-options { width: 100%; }
#leftmenu .menu-options div:first-child { width: 10%; }
#leftmenu .menu-options div:nth-child(2) { width: 60%; }
#leftmenu .menu-options div:nth-child(3) { width: 30%; }
#leftmenu .menu-options .menuXs li { text-align: center; }
#leftmenu .menu-options .menuXs li.menu1TitleX span, #leftmenu .menu-options .menuXs li.menu2TitleX span, #leftmenu .menu-options .menuXs li.menu3TitleX span, #leftmenu .menu-options .menuXs li.menu4TitleX span, #leftmenu .menu-options .menuXs li.menu5TitleX span, #leftmenu .menu-options .menuXs li.menu6TitleX span { visibility: hidden; }
#leftmenu .menu-options .menuXs li.menu7TitleXB { height: 42px; display: block; background-color: black; color: #ffff00; }
#leftmenu .menu-options .menuXs li span.menuXVisible { visibility: visible !important; font-weight: 700; }
#leftmenu .menu-options .menuTitles { text-align: right; }
#leftmenu .menu-options .menuTitles ul li { padding-right: 3%; height: 42px; }
#leftmenu .menu-options .menuTitles ul li.menu1Title { background-image: none; font-size: 17px; height: 42px; }
#leftmenu .menu-options .menuTitles ul li.menu7TitleB { background-color: black; color: #ffff00; }
#leftmenu .menu-options .menuTitles ul li.menuTitleFull { line-height: 17px !important; padding-top: 4px !important; visibility: visible; }
#leftmenu .menu-options .menuButtons ul li { padding-left: 12px; line-height: 20px; height: 42px; }
#leftmenu .menu-options .menuButtons ul li.menu7B { background-color: black; color: #ffff00; }
#leftmenu .menu-options .menuButtons ul li.menu7B img { width: 16px; margin: auto; height: auto; margin-top: -1px; margin-left: 15%; padding-top: 0px; line-height: 30px; position: absolute; }

#boardDisplay { position: absolute; z-index: 4444; color: white; display: none; }
#boardDisplay .boardTechName { color: white; font-size: 20px; text-align: center; text-transform: uppercase; min-width: 180px; display: none; margin-left: -50%; font-family: "PT Sans Narrow", "Myriad Pro", Helvetica, Arial, sans-serif; font-weight: 700; }
#boardDisplay .boardPreview .boardMenuLeftButton, #boardDisplay .boardPreview .boardMenuRightButton { width: 38px; height: 49px; display: block; }
#boardDisplay .boardPreview .boardMenuLeftButton .menuLeft, #boardDisplay .boardPreview .boardMenuLeftButton .menuRight, #boardDisplay .boardPreview .boardMenuRightButton .menuLeft, #boardDisplay .boardPreview .boardMenuRightButton .menuRight { cursor: pointer; }
#boardDisplay .boardPreview .boardViews .previewTop, #boardDisplay .boardPreview .boardViews .preview34, #boardDisplay .boardPreview .boardViews .previewBase { position: absolute; width: 100%; height: 100%; top: 0; left: 0; }
#boardDisplay .boardPreview .boardViews .previewTop .board, #boardDisplay .boardPreview .boardViews .preview34 .board, #boardDisplay .boardPreview .boardViews .previewBase .board { position: relative; background-size: 100%; background-position-y: 100%; background-repeat: no-repeat no-repeat; background-position-x: 4px; text-align: center; margin: 0 0 0 0; }
#boardDisplay .boardPreview .boardViews .previewTop .board .bImage, #boardDisplay .boardPreview .boardViews .preview34 .board .bImage, #boardDisplay .boardPreview .boardViews .previewBase .board .bImage { position: relative; cursor: pointer; }
#boardDisplay .boardPreview .boardViews .previewTop .board .bImage .bText, #boardDisplay .boardPreview .boardViews .preview34 .board .bImage .bText, #boardDisplay .boardPreview .boardViews .previewBase .board .bImage .bText { position: absolute; display: block; top: 80%; left: 24%; z-index: 888; width: 240%; -webkit-transform: rotate(270deg); -moz-transform: rotate(270deg); -ms-transform: rotate(270deg); -o-transform: rotate(270deg); transform: rotate(270deg); -webkit-transform-origin: 0% 0%; -moz-transform-origin: 0% 0%; -ms-transform-origin: 0% 0%; -o-transform-origin: 0% 0%; transform-origin: 0% 0%; }
#boardDisplay .boardPreview .boardViews .previewTop .board .bImage .bText p, #boardDisplay .boardPreview .boardViews .preview34 .board .bImage .bText p, #boardDisplay .boardPreview .boardViews .previewBase .board .bImage .bText p { color: black; }
#boardDisplay .boardPreview .boardViews .previewTop .board .bImage .bText .rotate-one, #boardDisplay .boardPreview .boardViews .preview34 .board .bImage .bText .rotate-one, #boardDisplay .boardPreview .boardViews .previewBase .board .bImage .bText .rotate-one { margin: 0; outline: 0px solid transparent; color: white; }
#boardDisplay .boardPreview .boardViews .previewTop .board .bImage .bText .rotate-one .board-text-custom, #boardDisplay .boardPreview .boardViews .preview34 .board .bImage .bText .rotate-one .board-text-custom, #boardDisplay .boardPreview .boardViews .previewBase .board .bImage .bText .rotate-one .board-text-custom { font-family: 'Altehaas Grotesk Bold'; text-transform: uppercase; z-index: 99999; text-align: center; color: #fff; font-size: 50px; line-height: 1.2em; white-space: nowrap; }
#boardDisplay .boardPreview .boardViews .preview34 .sidewall-top { position: absolute; z-index: 2; }
#boardDisplay .boardPreview .boardViews .preview34 .sidewall-bottom { position: absolute; }
#boardDisplay .boardPreview .boardViews .preview34 .sidewall-hidden { visibility: hidden !important; position: relative; }
#boardDisplay .boardPreview .boardViews .previewBase .custom-base-logo { display: none; position: absolute; }

.pagerLabel { position: absolute; color: black; font-size: 130%; font-weight: 700; padding-left: 1.3%; z-index: 9998; }

#mobileblocker, #ie-blocker { background: black; background: rgba(0, 0, 0, 0.95); display: block; position: fixed; width: 100%; height: 100%; z-index: 9999; top: 0; left: 0; padding: 10%; }
#mobileblocker h2, #ie-blocker h2 { margin-bottom: 20px; }
#mobileblocker h3, #ie-blocker h3 { margin-bottom: 10px; }

#ie-blocker { z-index: 99999; }

.item { /*max-width: 280px;
padding-left: 4%;
width: 240px;*/ }
.item img { background: transparent; -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF); /* IE6 & 7 */ zoom: 1; }

.responsive-image { width: 100%; background-size: 100% 100%; }

/* STEP 1 - SHAPE */
.boardShape1 { background-size: 100% 100%; }

.carousel { position: absolute; }
.carousel ul { float: left; }
.carousel ul li.item { display: inline-block; }

/* STEP 2 - SIZE */
.boardTech2 .board-info { text-shadow: 2px 2px 4px #000; width: 90%; color: #fff; }
.boardTech2 .board-info .board { font-size: 32px; font-weight: 700; text-transform: uppercase; margin-bottom: 5px; color: #FFFF00; }
.boardTech2 .board-info .board-tagline { font-size: 25px; font-weight: 700; text-transform: uppercase; margin: 1% 0px 1% 0px; }
.boardTech2 .board-info .board-desc { font-size: 18px; font-weight: 400; margin: 1% 0px 2% 0px; }
.boardTech2 .board-info .contour-title { font-size: 15px; font-weight: 700; color: white; margin: 11% 0 3% 0; }
.boardTech2 .board-info .contour-desc { font-size: 18px; font-weight: 400; color: white; }
.boardTech2 .size-info { width: 90%; }
.boardTech2 .size-info h3.size-cta { text-shadow: 2px 2px 4px #000; padding-bottom: 20px; font-size: 20px; }
.boardTech2 .size-info .size-holder { position: relative; width: 100%; display: block; float: left; }
.boardTech2 .size-info .size-holder .sizes .size-item { padding: 10px; float: left; font-weight: 600; font-size: 18px; border: 1px solid black; text-align: center; color: black; background-color: white; cursor: pointer; margin: 0 20px 20px 0; }
.boardTech2 .size-info .size-holder .sizes .size-item:hover { background-color: #ffff00; }
.boardTech2 .size-info .size-detail-table { margin: 2% 0px 4% 0px; float: left; width: auto; }
.boardTech2 .size-info .size-detail-table .table-data { padding: 0px; color: white; height: 100%; overflow: auto; }
.boardTech2 .size-info .size-detail-table .table-data .info-list { width: auto; float: left; }
.boardTech2 .size-info .size-detail-table .table-data .info-list .length-list, .boardTech2 .size-info .size-detail-table .table-data .info-list .side-list, .boardTech2 .size-info .size-detail-table .table-data .info-list .waist-list, .boardTech2 .size-info .size-detail-table .table-data .info-list .flex-list { float: left; text-align: center; color: white; width: 100%; }
.boardTech2 .size-info .size-detail-table .table-data .info-list .length-list li, .boardTech2 .size-info .size-detail-table .table-data .info-list .side-list li, .boardTech2 .size-info .size-detail-table .table-data .info-list .waist-list li, .boardTech2 .size-info .size-detail-table .table-data .info-list .flex-list li { padding: 5px 0px 5px 0px; }
.boardTech2 .size-info .size-detail-table .table-data .info-list .length-list li:first-child, .boardTech2 .size-info .size-detail-table .table-data .info-list .side-list li:first-child, .boardTech2 .size-info .size-detail-table .table-data .info-list .waist-list li:first-child, .boardTech2 .size-info .size-detail-table .table-data .info-list .flex-list li:first-child { width: 100%; color: black; background-color: #666666; text-transform: uppercase; font-size: 80%; }

/* STEP 3 - TOP */
.boardTop3 { padding-left: 30%; }
.boardTop3 .carousel-container { overflow: hidden; width: 100%; position: relative; }

/* STEP 4 - SIDEWALL */
.boardSide4 { padding-left: 30%; }
.boardSide4 .carousel-container { overflow: hidden; width: 100%; position: relative; }

/* STEP 5 - BASE */
.boardBase5 { padding-left: 30%; }
.boardBase5 .carousel-container { overflow: hidden; width: 100%; position: relative; }

/* STEP 5b - CUSTOM BASE */
.boardBase5b .boardItemHolder { position: relative; }
.boardBase5b .boardItemHolder #knifecut-base-controls p { margin-bottom: 10px; font-weight: 700; font-size: 1.125em; text-transform: uppercase; color: white; clear: both; }
.boardBase5b .boardItemHolder #knifecut-base-controls .knifecut-input { margin-bottom: 40px; }
.boardBase5b .boardItemHolder #knifecut-base-controls .knifecut-input #board-text { font-family: 'Altehaas Grotesk Bold'; background: #fff; width: 188px; }
.boardBase5b .boardItemHolder #knifecut-base-controls .letter-color, .boardBase5b .boardItemHolder #knifecut-base-controls .base-color { padding-bottom: 40px; }
.boardBase5b .boardItemHolder #knifecut-base-controls .letter-color div.color, .boardBase5b .boardItemHolder #knifecut-base-controls .base-color div.color { width: 40px; height: 40px; cursor: pointer; float: left; margin-right: 10px; border: 1px solid white; }
.boardBase5b .boardItemHolder #knifecut-base-controls .letter-color div.color.greyBox, .boardBase5b .boardItemHolder #knifecut-base-controls .base-color div.color.greyBox { background-color: #999999; }
.boardBase5b .boardItemHolder #knifecut-base-controls .letter-color div.color.orangeBox, .boardBase5b .boardItemHolder #knifecut-base-controls .base-color div.color.orangeBox { background-color: #FF6600; }
.boardBase5b .boardItemHolder #knifecut-base-controls .letter-color div.color.yellowBox, .boardBase5b .boardItemHolder #knifecut-base-controls .base-color div.color.yellowBox { background-color: #FFCC00; }
.boardBase5b .boardItemHolder #knifecut-base-controls .letter-color div.color.blackBox, .boardBase5b .boardItemHolder #knifecut-base-controls .base-color div.color.blackBox { background-color: #000000; }
.boardBase5b .boardItemHolder #knifecut-base-controls .letter-color div.color.whiteBox, .boardBase5b .boardItemHolder #knifecut-base-controls .base-color div.color.whiteBox { background-color: #FFFFFF; border: 1px solid black; }
.boardBase5b .boardItemHolder #knifecut-base-controls .letter-color div.color.greenBox, .boardBase5b .boardItemHolder #knifecut-base-controls .base-color div.color.greenBox { background-color: #99CC00; }
.boardBase5b .boardItemHolder #knifecut-base-controls .letter-color div.color.blueBox, .boardBase5b .boardItemHolder #knifecut-base-controls .base-color div.color.blueBox { background-color: #0099FF; }
.boardBase5b .boardItemHolder #knifecut-base-controls .letter-color div.color.redBox, .boardBase5b .boardItemHolder #knifecut-base-controls .base-color div.color.redBox { background-color: #CC3333; }

/* STEP 6 - BADGE */
.boardBadge6 #boardBadgeIcon1 { width: 62%; margin-left: auto; margin-right: auto; margin-top: 150px; position: relative; width: 350px; }
.boardBadge6 #boardBadgeIcon1 img.board-badge { position: relative; margin-left: auto; margin-right: auto; }
.boardBadge6 #boardBadgeIcon1 .boardBadgeTextHolder { position: absolute; top: 39%; left: 20%; width: 60%; text-align: center; }
.boardBadge6 #boardBadgeIcon1 .boardBadgeTextHolder .board-badge-text { word-wrap: break-word; }
.boardBadge6 #boardBadgeIcon1 .boardBadgeTextHolder .board-badge-text .badge-text-wide { line-height: 100%; color: white; max-height: 60px; overflow: hidden; margin: auto; display: block; text-align: center; font-family: "PT Sans Narrow", "Myriad Pro", Helvetica, Arial, sans-serif; text-transform: uppercase; font-weight: 700; }
.boardBadge6 #boardBadgeIcon1 .board-badge-input-holder { position: relative; text-align: center; }
.boardBadge6 #boardBadgeIcon1 .board-badge-input-holder .board-badge-input { width: 320px; font-weight: 700; text-align: center; }
.boardBadge6 #boardBadgeIcon1 .boardBadgeSize { width: 60%; position: absolute; z-index: 5555; top: 52%; left: 20%; font-size: 320%; font-weight: 700; color: #fff; text-align: center; }

/* STEP 7 - BUY */
.boardBuy7 .thereciept-scroll { overflow-y: auto; }
.boardBuy7 .thereciept { font-family: "PT Sans Narrow", "Myriad Pro", Helvetica, Arial, sans-serif; margin-left: 120px; width: 30%; padding-top: 166px; max-width: 350px; }
.boardBuy7 .thereciept .board-reciept { text-shadow: 2px 2px 4px #000; }
.boardBuy7 .thereciept .board-reciept h1 { font-family: "PT Sans Narrow", "Myriad Pro", Helvetica, Arial, sans-serif; font-size: 28px; font-weight: 700; padding-bottom: 10px; }
.boardBuy7 .thereciept .board-reciept h2 { font-size: 18px; font-weight: 700; line-height: 1.5; }
.boardBuy7 .thereciept .board-reciept h2 span { font-weight: 400; }
.boardBuy7 .thereciept .board-reciept h2.base .text-color, .boardBuy7 .thereciept .board-reciept h2.base .base-color { padding-left: 20px; font-size: .9em; }
.boardBuy7 .thereciept .board-reciept p { text-align: right; font-weight: 700; }
.boardBuy7 .thereciept .board-reciept hr { height: 1px; border: 0; border-top: 1px solid white; }
.boardBuy7 .thereciept .board-reciept h3 { float: left; font-size: 24px; width: 40%; }
.boardBuy7 .thereciept .board-reciept h3.subtotal-cost { float: right; width: 60%; text-align: right; }
.boardBuy7 .thereciept .board-reciept h4 { font-size: 18px; font-weight: 700; margin: 10px; }
.boardBuy7 .thereciept .terms, .boardBuy7 .thereciept .terms-international { display: none; }
.boardBuy7 .thereciept .terms h1, .boardBuy7 .thereciept .terms-international h1 { font-family: "PT Sans Narrow", "Myriad Pro", Helvetica, Arial, sans-serif; font-size: 28px; font-weight: 700; padding-bottom: 10px; }
.boardBuy7 .thereciept .cart-error { display: none; }
.boardBuy7 .thereciept .buttonholder { float: left; width: 100%; text-align: center; padding: 20px 0; }
.boardBuy7 .thereciept .buttonholder .buy-button, .boardBuy7 .thereciept .buttonholder .agree-button { width: 100%; background-color: #ffff00; color: #000000; padding: 10px; font-size: 28px; font-weight: 700; border: 1px solid #000; cursor: pointer; text-transform: uppercase; }
.boardBuy7 .thereciept .buttonholder .buy-button:hover, .boardBuy7 .thereciept .buttonholder .agree-button:hover { background-color: #000000; color: #ffff00; border-color: #ffff00; }
.boardBuy7 .thereciept .buttonholder .agree-button { display: none; }
.boardBuy7 .thereciept .buttonholder .social-icons { width: 100%; margin: 0 auto; text-align: center; }
.boardBuy7 .thereciept .buttonholder .social-icons p { padding: 10px 0; text-transform: uppercase; font-weight: 700; clear: both; }
.boardBuy7 .thereciept .buttonholder .social-icons a { display: inline-block; width: 51px; height: 31px; padding: 0 10px; }
.boardBuy7 .thereciept .buttonholder .share-url p { padding: 10px 0; text-align: center; text-transform: uppercase; font-weight: 700; clear: both; }
.boardBuy7 .thereciept .buttonholder .share-url #share-url-input { width: 100%; text-transform: none; margin-bottom: 20px; }

.sharebutton { width: 100%; }

.boardItemHolder { position: relative; }

.boardText1, .boardText2 { color: white; }
.boardText1 h2, .boardText2 h2 { font-size: 20px; color: white; font-family: "PT Sans Narrow", "Myriad Pro", Helvetica, Arial, sans-serif; }
.boardText1 h3, .boardText2 h3 { font-size: 20px; color: white; }
.boardText1 h4, .boardText2 h4 { font-size: 18px; font-weight: normal; }
.boardText1 p, .boardText2 p { font-size: 16px; }

.boardTopInfo1 { float: left; width: 100%; position: relative; display: inline-block; margin-left: 4%; }

#boardSideItems { position: absolute; width: 1260px; overflow: hidden; }

.bxSliderTop, .bxSliderBase { position: relative; }

/*.boardTopPlax {
	position: absolute;
	width: 70%;
	top: 166px;
	height: 100%;
	right: 5%;
}*/
.bxSliderTop { margin-left: 0%; }

#techNext { cursor: pointer; float: left; }

#boardBottomItems { position: relative; }
#boardBottomItems img { position: relative; width: 33%; float: left; max-width: 100px; }

#boarditem { float: left; max-width: 10%; z-index: 22; }

/* This parent can be any width and height */
.block { text-align: center; }

/* The ghost, nudged to maintain perfect centering */
.block:before { content: ''; display: inline-block; height: 100%; vertical-align: middle; margin-right: -0.25em; /* Adjusts for spacing */ }

/* The element to be centered, can also be of any width and height */
.centered { display: inline-block; vertical-align: middle; width: 300px; }

.boardTechName { margin-top: -20px; width: 100%; position: absolute; display: none; }

/* SHARE STYLES */
body.diy-share { min-width: 0; }
body.diy-share .wrapper { padding: 0 20px; background-attachment: fixed; }
body.diy-share .wrapper #header-share { padding-top: 20px; text-align: center; }
body.diy-share .wrapper #header-share img { max-width: 100%; height: auto; }
body.diy-share .wrapper .boardBuy7 .thereciept { margin: 0; width: 100%; padding: 0; }
body.diy-share .wrapper .boardBuy7 .thereciept .buttonholder .build-button { width: 100%; background-color: #000000; color: #ffff00; padding: 10px; font-size: 28px; font-weight: 700; border: 1px solid #ffff00; cursor: pointer; text-transform: uppercase; text-decoration: none; font-style: normal; display: block; }
body.diy-share .wrapper .boardBuy7 .thereciept .buttonholder .build-button:hover { background-color: #ffff00; color: #000000; border-color: #000; }
body.diy-share .wrapper .boardBuy7 .thereciept .buttonholder p.or { margin: 5px 0; }
body.diy-share .wrapper .boardBuy7 .thereciept .buttonholder .social-icons { width: 100%; }
body.diy-share .wrapper #boardDisplay { display: block; position: relative; width: 33%; }
body.diy-share .wrapper #boardDisplay .previewTop { position: relative; }
body.diy-share .wrapper #boardDisplay .preview34 { left: 100%; }
body.diy-share .wrapper #boardDisplay .previewBase { left: 200%; }

/*TINY - ?? */
@media screen and (max-width: 100px) { .boardShape1 .bx-wrapper img { max-width: 100% !important; } }
.boardReciept { margin-bottom: 10px; }

.recieptComplete { color: white !important; }

/*560*/
/*SMALL - 560px */
@media screen and (max-width: 767px) { #topSection { display: none; }
  #topSectionRight { width: 10%; opacity: 0; }
  #topSectionRight { cursor: pointer; padding: 2%; right: 2%; position: absolute; }
  html, body { /*overflow-x: hidden;
overflow-y: visible;*/ }
  /* iPhone only */
  	/*  	#topSection, 	#blackBoxInfo, 	#topFlag { 		display: none !important; 	} 	.pagerTop { 		top: 70px; 	} 	#header { 		height: 70px; 		top: 0; 		background-image: url('../img/bb/bb-0-topbgmobile.png'); 	} 	.pagerLabel { 		top: 70px; 	} 	#advance-arrow { 		height: 90px; 		display: block; 		top: -20px; 		z-index: 9997; 	} 	.bxDivSlider { 		top: 80px; 	} 	.swipediv { 		top: 0px; 		padding-top: 40px; 	} 	.item { 		max-width: 280px; 		width: 160px; 	} 	#topTwo { 		display: none; 		z-index: 12345678; 	} 	.miniReciept { 		padding: 0%; 		z-index: -456; 		width: 100%; 		top: 70px; 		position: absolute;  		h1, 		h2, 		h3, 		.boardText1, 		.boardText2 { 			float: left !important; 			color: black !important; 			width: 100%; 		} 		div { 			width: 100%; 		} 		.boardBuy7 .boardText1 { 			max-width: 99% !important; 		} 		p { 			padding: 0%; 			margin: 0%; 			border: 0px solid white; 			text-align: right; 			color: black; 		} 		& > div { 			height: 100%; 			padding: 5%; 			background: url(../img/bb/bb-0-leftmenubg.gif); 		} 		hr { 			border-top: 1px solid black !important; 		} 		.boardTechName { 			display: none; 		} 		.boardItemHolder { 			width: 90%; 		} 		.boardPreview { 			width: 30% !important; 		} 	} 	.boardBuy7right, 	.boardBuy7left, 	.boardBuy7side {  } 	.bx-pager .bx-pager-item { 		margin-right: 10px; 		margin-left: 10px; 		padding-top: 10px; 		padding-bottom: 8px; 	} 	.black50 {  		background: rgb(0, 0, 0);  		// Fall-back for browsers that don't support rgba 		filter:alpha(opacity=50); // IE 		-moz-opacity:0.5; // Mozilla 		opacity: 0.5; // CSS3 	} 	#badge-text-wide { 		width: 80%; 	} 	 	.bxDivShape { 		padding-top: 8%; 	} 	#blackBoxInfo div, 	#blackBoxInfo h4 { 		display: none; 	} 	#blackBoxInfo h2 { 		text-align: center; 	} 	.boardShape1 { 		margin-top: 10%; 	} 	ul.bxDivSlider > li { 		padding-top: 0px; 	} 	.bxDivSlider > li:nth-child(2) { 		overflow: hidden !important; 		min-height: 928px; 	} 	#header { 		background-image: url("../img/bb/bb-0-topbgmobile.png"); 		background-position: center center; 		background-repeat: no-repeat; 		background-color: black; 	} 	// STEP 2 - SIZE 	.boardTech2 #boarditem:first-child, 	.boardTop3 #boarditem:first-child, 	.boardBase4 #boarditem:first-child, 	.boardBadge5 #boarditem:first-child, 	.boardBuy6 #boarditem:first-child { 		margin-left: 5%; 		margin-right: 2%; 	} 	#boarditem { 		max-width: 14%; 	} 	#s2shapeTitle { 		display: none; 	} 	.boardTechName { 		color: black; 		font-size: 20px; 		text-align: left; 		text-transform: uppercase; 		position: relative !important; 		width: 90%; 		margin-left: 4%; 		margin-top: 1% !important; 	} 	.s2shapedescription { 		font-size: 25px; 		font-weight: 700; 		text-transform: uppercase; 		margin: 1% 0 0 0; 	} 	#s2contour { 		font-size: 25px; 		font-weight: 700; 		color: $globalFontColor; 		margin: 1% 0 1% 0; 	} 	#s2contourdetail { 		font-size: 22px; 		font-weight: 400; 		color: $globalFontColor; 	} 	.boardTech2 .boardItemHolder { 		.boardText1 { 			width: 90%; 			margin-left: 4%; 			margin-top: 0 !important; 		} 		.boardText2 { 			width: 90%; 			margin-left: 4%; 			margin-top: 0 !important; 		} 	} 	.s2shapedescriptiondetail { 		font-size: 22px; 		font-weight: 400; 		margin: 1% 0px 2% 0px; 	} 	#s2traction { 		text-align: center; 		font-size: 14px; 		font-weight: 700; 		text-transform: uppercase; 		margin: 1% 0px 2% 0px; 		color: $globalFontColor; 		font-family: $bodyFont; 	} 	#s2tractiondetail { 		font-size: 12px; 		font-weight: 400; 		color: $globalFontColor; 	} 	#s2traction h2 { 		font-size: 16px; 		font-weight: 700; 	} 	#s2HPTitle { 		font-size: 16px; 		font-weight: 700; 		margin: 0 0px 1% 0px; 		float: left; 	} 	#s2HpDetail { 		float: left; 		margin-bottom: 6%; 	} 	.info-list { 		width: auto; 	} 	#sizeLists { 		width: 100%; 	} 	.size-item { 		padding: 1.5%; 		position: relative; 		float: left; 		font-weight: 600; 		font-size: 20px;  		border: 1px solid black; 		text-align: center; 		color: black; 		background-color: white; 		cursor: pointer; 		margin: 0 6% 0% 0; 	} 	.info-lists { 		.side-list, 		.waist-list, 		.flex-list, 		.length-list { 			float: left; 			text-align: center; 			color: white; 			min-width: 100px;  			li { 				&:first-child { 					font-size: 100%; 				} 				&:not(:first-child) { 					font-size: 120%; 					background-color: black; 					font-weight: 700; 					font-size: 100%; 				} 			} 		} 	} 	//STEP 3 	.boardTop3 .boardTechName { 		display: none; 	} 	.boardSide4 .boardTechName { 		display: none; 	} 	.boardBase5 .boardTechName { 		display: none; 	} 	.boardBase5b .boardTechName { 		display: none; 	} 	.boardBadge6 .boardTechName { 		display: none; 	} 	.bxSliderTop { 		margin-left: 0% !important; 	} 	.boardTop3 .bxSliderTop { 		margin-left: 0% !important; 	} 	.boardTop3 .bx-controls-direction, .bx-pager { 		display: block !important; 	} 	#boardTopItems { 		margin-top: 0; 	} 	.boardTopInfo1 { 		margin-top: 0; 	} 	.boardSideItems { 		width: 100%; 	} 	.boardBase5 #boardBaseItems { 		img { 			width: 100%;  			-webkit-transform: translateZ(0); 			transform: translateZ(0); 		} 	} 	.boardBase5 .bxSliderBase li { 		width: percentage( (10/$numBases)/10 ); 		float: left; 	} 	#s2tractiondetail { 		font-size: 12px; 		font-weight: 400; 		color: $globalFontColor; 	} 	.boardSide4 { 		.boardSideInfo1 { 			float: left; 			width: 100%; 			position: relative; 			display: inline-block; 		} 		#boardSideItems { 			width: 100% !important; 		} 	} 	.boardBuy7 { 		.boardText1 { 			max-width: 40% !important; 			margin-left: 5% !important; 		} 		.boardItemHolder .boardText1 { 			h1 { 				font-size: 26px; 				margin-bottom: 10%; 			} 			h2 { 				font-size: 18px; 			} 			h3 { 				font-size: 20px; 			} 		} 	} 	.boardMenuRightButton { 		float:left; 		margin-left: 150px !important; 		position: absolute; 	} 	.bx-controls:first-child { 		display: block; 	} 	#knifecut-base-controls { 		// width: 90%;  		input#board-text { 			// width: 90%; 		} 	} 	#leftmenu, 	.bx-prev, 	.bx-next { 		display: none; 	} 	.boardShape1 { 		#boarditem:first-child { 			margin-left: 10% !important; 		} 	} 	.boardBuy7 .boardText1 { 		margin-left: 1%; 	} 	.rotate-one span { 		font-size: 250% !important; 		font-weight: 700; 	} 	#boardBadgeIcon1 { 		margin-top: 16%; 		width: 350px; 	} 	#boardBadgeIcon1 img { 		width: 375px !important; 	}  	.buybutton, 	.buildbutton { 		font-size: 16px 	} 	.buttonholder h4, 	.sharebutton, 	.socialicons, 	.buildbutton { 		display: none; 	} 	.boardTechName { 		font-size: 25px; 		min-width: 120px; 		line-height: 25px; 		text-align: left; 		height: 100px; 		display: block; 		margin-left: 0 !important; 	} 	.boardBuy7right, 	.boardBuy7left, 	.boardBuy7side { 		max-width: 120px !important; 	} 	.recieptError { 		color: red !important; 	} 	#mobileblocker { 		display: block; 		position:absolute; 		width:100%; 		height:100%; 		z-index: 9999; 		text-align: center; 		display:none; 		top: 0; 		padding-top:30%; 		text-align:left;  		h2, 		h3  { 			font-family: $bodyFont; 			font-weight: 700; 			opacity: 0.95; 			filter: alpha(opacity = 0.95); 			filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5); 			margin-left: 5%;margin-right: 5%; 		} 		h2 { 			font-size: 28px; 		} 		h3 { 			text-transform: none; 			font-size: 24px; 			font-weight: 400 !important; 		} 	} 	*/
  #blackBoxInfo, #topLogo { display: none; }
  #topSectionRight { display: block !important; } }
/*MEDIUM - 746 */
@media screen and (min-width: 768px) { html, body { overflow: hidden; height: 100%; }
  #topSection { display: block; }
  #topSectionRight { width: 10%; }
  #topTwo, #topSectionRight { display: none !important; }
  #topLogo { display: block !important; }
  #mobileblocker { display: none; }
  .miniReciept { display: none !important; }
  #topLogo { display: block !important; }
  .bx-controls-direction, .bx-pager { display: none; }
  /*.swipe-wrap .slide1:not(:first-child), .swipe-wrap .slide2:not(:first-child) { display: none;}*/
  .slide1 ~ .slide1, .slide2 ~ .slide2 { display: none; }
  .swipe { visibility: visible !important; }
  .swipediv { position: relative; /*top: 0px !important;*/ padding-top: 0px; /*margin-left: -10%;*/ }
  .pagerLabel { display: none; }
  .bxDivShape { padding-top: 4%; margin-left: -12%; }
  #blackBoxInfo { box-shadow: 2px 2px 20px #000; padding: 15px; }
  #blackBoxInfo h2 { text-align: left; font-size: 25px; }
  #blackBoxInfo h3 { font-size: 14px; text-align: left; }
  #blackBoxInfo h4 { display: block; }
  #blackBoxInfo div { max-width: 300px; }
  #blackBoxInfo p { font-size: 18px; text-align: left; }
  .boardTechName { font-size: 25px; min-width: 120px; line-height: 25px; text-align: center; height: 100px; display: none; margin-left: 0 !important; }
  #boardDisplay { width: 15%; left: 90px; top: 166px; }
  #boardDisplay .boardMenuLeftButton, #boardDisplay .boardMenuRightButton { display: block; position: absolute; z-index: 1000; }
  #boardDisplay .boardMenuLeftButton { left: -10px; }
  #boardDisplay .boardMenuRightButton { right: -10px; }
  #leftmenu, .bx-prev, .bx-next { display: block; }
  .boardShape1 #boarditem:first-child { margin-left: 12% !important; }
  .boardText1 #boardTech2 { width: 31% !important; margin-left: 2%; }
  /* CAROUSEL */
  .carousel { padding-top: 166px; -webkit-transform: translateZ(0); /* triggers GPU, sometimes fixes the issue */ transform: translateZ(0); /* non-webkit specific */ }
  .carousel .item { padding: 0 20px; }
  .carousel .item img { cursor: pointer; }
  .carousel .item img.confirmedShape, .carousel .item img .confirmedShape:hover { -webkit-transform: matrix(1.1, 0, 0, 1.1, 0, 0) !important; transform: scale(1.1, 1.1) !important; -ms-transform: scale(1.1, 1.1) !important; transition-duration: .2s; -webkit-transition-duration: .2s; }
  /* STEP 1 - SHAPE */
  /* STEP 2 - SIZE */
  .boardTech2 { padding: 166px 0 0 30%; }
  .boardTech2 .board-info { padding-right: 5%; width: 45%; float: left; }
  .boardTech2 .size-info { width: 50%; float: left; padding-top: 40px; }
  .boardTech2 .size-info .size-detail-table .table-data .info-list .side-list, .boardTech2 .size-info .size-detail-table .table-data .info-list .waist-list, .boardTech2 .size-info .size-detail-table .table-data .info-list .flex-list, .boardTech2 .size-info .size-detail-table .table-data .info-list .length-list { min-width: 65px; background-color: black; }
  .boardTech2 .size-info .size-detail-table .table-data .info-list .side-list li:first-child, .boardTech2 .size-info .size-detail-table .table-data .info-list .waist-list li:first-child, .boardTech2 .size-info .size-detail-table .table-data .info-list .flex-list li:first-child, .boardTech2 .size-info .size-detail-table .table-data .info-list .length-list li:first-child { font-size: 100%; }
  /* STEP 3 - TOP */
  /* STEP 5a - BASE */
  .boardBase5 #boardBaseItems img { width: 100%; cursor: pointer; -webkit-transform: translateZ(0); transform: translateZ(0); }
  /* STEP 5b - KNIFECUT BASE */
  .boardBase5b .boardItemHolder { padding: 166px 0 0 30%; }
  /* STEP 7 - BUY */
  .boardReciept hr { margin: 0.25em 0; padding: 0; }
  .bx-wrapper .bx-pager { display: none; }
  /* SHARE STYLES */
  html.diy-share { overflow: visible; height: auto; }
  body.diy-share { overflow: visible; height: auto; }
  body.diy-share .wrapper { max-width: 1600px; margin: 0 auto; position: relative; }
  body.diy-share .wrapper #header-share { width: 40%; }
  body.diy-share .wrapper .boardBuy7 .thereciept { width: 40%; }
  body.diy-share .wrapper #boardDisplay { display: block; position: fixed; width: 18%; max-width: 250px; left: 45%; bottom: 0px; top: auto; }
  body.diy-share .wrapper #boardDisplay .previewTop { position: relative; }
  body.diy-share .wrapper #boardDisplay .preview34 { left: 90%; }
  body.diy-share .wrapper #boardDisplay .previewBase { left: 180%; } }
@media screen and (max-device-width: 748px) { .boardShape1 { background-image: url("../img/bb/BACKGROUND-01.jpg"); } }
/*LARGE - 1200 */
@media screen and (min-width: 1920px) { /*  #blackBoxInfo { display: block; }  #leftmenu, .bx-prev, .bx-next { display: block; } .boardMenuLeftButton { margin-left: 10% !important; }  #boardDisplay { max-width: 11% !important; } .rotate-one span { font-size: 300%  !important; }*/
  /*.rotate-one span { font-size: 2.5em; }*/ }
/*iPhone 5:*/
@media screen and (device-aspect-ratio: 40 / 71) { #topLogo { display: none !important; }
  #header { background-color: purple; background-image: none !important; } }
/*iPad*/
@media screen and (device-aspect-ratio: 3 / 4) { .item { max-width: 280px; padding-left: 2%; width: 150px; margin-top: 4.8%; }
  .bxDivSlider > li, .boardShape1 { -webkit-transform: translateZ(0); }
  .bxDivShape { margin-left: 0; }
  ul.bxDivSlider > li { -webkit-transform: translateZ(0); }
  #menuClose { display: block; }
  .contourImg { width: 300px !important; height: 75px; }
  #blackBoxInfo { position: absolute !important; width: 300px !important; }
  .bxDivShape li { opacity: none !important; }
  .bxDivShape li > img.selectedShape { transition-duration: 0; -webkit-transition-duration: 0; -webkit-transform: matrix(1, 0, 0, 1, 0, 0); transform: scale(1, 1); -ms-transform: scale(1, 1); /* IE 9 */ }
  .bxDivShape li > img.selectedShape:hover { transition-duration: 0; -webkit-transition-duration: 0; -webkit-transform: matrix(1, 0, 0, 1, 0, 0); transform: scale(1, 1); -ms-transform: scale(1, 1); /* IE 9 */ }
  .bxDivShape li > img:hover:not(.confirmedShape) { transition-duration: 0; -webkit-transition-duration: 0; -webkit-transform: matrix(1, 0, 0, 1, 0, 0); transform: scale(1, 1); -ms-transform: scale(1, 1); /* IE 9 */ }
  .confirmedShape, .confirmedShape:hover { transition-duration: 0; -webkit-transition-duration: 0; -webkit-transform: matrix(1, 0, 0, 1, 0, 0); transform: scale(1, 1); -ms-transform: scale(1, 1); /* IE 9 */ /* IE 9 */ }
  .bText { font-size: 320%; line-height: 78%; text-transform: uppercase; font-family: "PT Sans Narrow", "Myriad Pro", Helvetica, Arial, sans-serif; font-weight: 700; overflow: hidden; top: 90%; } }
